<mat-toolbar color="primary" style="margin: 0%">
  <span>DevOps</span>
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Cotización del Dolar</mat-card-title>
    <mat-card-subtitle>Consulta a la API del Banco Central</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="jsonCotizacion" class="cotizacion">
      <div>Día: {{ jsonCotizacion.d }}</div>
      <div>Valor: {{ jsonCotizacion.v }}</div>
      <div>Mensaje: {{ jsonCotizacion.mensaje }}</div>
    </div>

    <button mat-raised-button type="button" color="primary" (click)="solicitarCotizacion()">Solicitar Cotización</button>
  </mat-card-content>
</mat-card>